body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

 ul.flexdatalist-multiple{
  box-shadow: inset 0px 0px 2.75px;
  border:0px !important;
}